body {
    font-family: "PT Sans", monospace, sans-serif;
}

.cont-gral {
    overflow: hidden;
    height: 100%;
    width: 100%;
}
.background {
    position: fixed;
    z-index: -99999;
    width: 100%;
    height: 100%;
    background: #f0f0f0 url('../img/background.jpg') no-repeat center;
    background-size: cover;
    -webkit-background-size: cover;
    opacity: 0.2;
}

.splashscreen {
    cursor: pointer;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 90;
    box-sizing: border-box;
    padding-top: 15px;
    transition: opacity 1s ease-in;
    overflow: hidden;
    opacity: 1;
}
.splashscreen img {
    display: block;
    width: 40%;
    margin: 10px auto;
}
.splashscreen h2 {
    text-align: center;
    font-size: 48px;
    margin-top: 0;
    transition: all 2s;
    /*font-weight: bold;*/
}
.sidebar {
    position: fixed;
    width: 200px;
    margin-left: 5%;
    padding-top: 40px;
    top: 0;
    height: 100%;
    border-right: 1px dotted #333;
}
.sidebar header img {
    margin: 0 auto;
}
.sidebar h1 {
    font-size: 22px;
    font-weight: bolder;
    margin-top: 20px;
    margin-bottom: 15px;
}
.main-nav {
}
.main-nav ul li a {
    color: #111;
    text-decoration: none;
    display: block;
    padding: 12px 0px;
    padding-left: 5px;
}
.main-nav ul li a:hover {
    background-color: #f0f0f0;
}

.content {
    width: calc(90% - 200px);
    margin: 0 2.5%;
    float: right;
    position: relative;
}

.work {
    margin: 0px auto;
    height: 500px;
    width: 700px;
    position: relative;
    padding: 100px 0px;
}
.inner-work {
    padding: 0 150px;
    float: left;
}
.work .work-img {
    display: block;
    height: 500px;
    width: 700px;
    margin: 0 auto;
    white-space: nowrap;
    text-align: center;
}
.work img {
    max-height: 500px;
    max-width: 700px;
    width: auto;
    height: auto;
    margin: 0 auto;
    vertical-align: middle;
    cursor: pointer;
}
.vertical-center-helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.work-info {
    padding: 10px;
}

.work-info h2 {
    font-weight: bold;
    margin-bottom: 7px;
    text-transform: uppercase;
}
.work-info .info-text {
    width: 190px;
    height: 80%;
    line-height: 22px;
    word-wrap: break-word;
    margin-top: 10px;
    font-size: 14px;
    margin-bottom: 10px;
}

.info-footer {
    padding: 3px 0px;
    width: 100%;
    height: auto !important;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    font-size: 11px;
    font-style: italic;
}
.frame {
    padding: 0;
    width: 100%;
    position: relative;
    height: 100%;
    /*min-height: 520px;*/
    max-height: 760px;
    box-sizing: border-box;
}
.frame .slidee {
    margin: 0;
    padding: 0;
}

.frame.h-frame {
    padding: 0;
    width: 100%;
    position: relative;
    height: 700px;
    box-sizing: border-box;
}
.frame.h-frame:hover > button {
    opacity: 1;
}
.h-frame .slidee {
    padding: 100px 0;
}

.scroll-buttons {
    position: absolute;
    top: 50%;
    font-size: 20px;
    right: -100px;
}
.scroll-buttons li {
    cursor: pointer;
    padding: 7px;
    border-radius: 2px;
    transition: background 1s;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.scroll-buttons li:hover {
    background-color: #e0e0e0;
}
.scroll-buttons li:active {
    color: tomato;
}
.page {
    float: left;
    margin: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    box-sizing: border-box;
    transition: all 1s;
    /*background: rgba(0,0,0,0.5);*/
}
.page-content {
    margin: 3px;
}
.page-content.padding {
    padding: 30px 15px;
}
#icon_menu div:firstchild {
    overflow: hidden;
}
.icon-menu-item {
    width: 140px;
    height: 140px;
    margin: 20px;
    float: left;
    border-left: 1px dotted #333;
    box-sizing: border-box;
}

.frame-btn {
    width: 40px;
    height: 40px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 30px;
    font-weight: bold;
    color: black;
    position: absolute;
    background: none;
    opacity: 0;
    transition: background 1s;
}
.frame-btn:hover {
    background: rgba(125,125,125,0.1);
}
.frame-btn:active {
    color: tomato;
    border-color: tomato;
    background: rgba(125,125,125,0.5);
}
.frame-btn:disabled {
    visibility: hidden;
}
.frame-btn.h-frame-btn {
    top: 40%;
    width: 50px;
    height: 20%;
}
.frame-btn.frame-btn-right {
    text-align: right;
    right: 1px;
    border-right: 1px solid #222;
}
.frame-btn.frame-btn-left {
    text-align: left;
    left: 1px;
    border-left: 1px solid #222;
}
.album-title {
    position: absolute;
    top: 10%;
    left: 10px;
    font-weight: bold;
}
.alert {
    display: block;
    width: 100%;
    text-align: center;
    color: tomato;
    padding: 5px 0px;
    
}
#page_about .page-content div {
    width: 500px;
    margin: 0 auto;
    margin-top: 25px;
}
#page_about h2, #page_contact h2 {
    margin-top: 40px;
    font-size: 20px;
    font-style: italic;
}
#page_about p {
    line-height: 22px;
    padding: 0px 5px 0px 10px;
    margin: 10px 0px;
}


.contact-form {
    width: 500px;
    margin: 0 auto;
    margin-top: 20px;
}
form label {
    font-size: 16px;
    display: block;
    padding: 5px 0px;
    margin-bottom: 5px;
    margin-top: 15px;
    border-bottom: 1px dotted #999;
}
form input, form textarea, form select {
    display: block;
    font-size: 16px;
    box-sizing: border-box;
    width: 100%;
    border: none;
    padding: 10px 5px;
    margin: 0;
}
form input:focus, form textarea:focus, form select:focus {
    outline: none;
    border-top: 1px solid tomato;
}
form input[type='submit'], form select {
    cursor: pointer;
}
form input[type="text"] {
    padding-left: 3px;
}
form input[type='submit'] {
    margin-top: 20px;
    border-radius: 2px;
    background-color: #f0f0f0;
    font-weight: bold;
}

form input[type="radio"] {
    width: 20px;
    margin-top: 3px;
    float: left;
}
form input[type='submit']:hover {
    background-color: #e0e0e0;
}
form input[type='submit']:active {
    background-color: #ccc;
    color: rgba(0,0,0,0.9);
}

form option {
    border: none;
}
.facebook-feed {
    width: 320px;
    float: right;
}
@media screen and (max-width: 360px) {
    .splashscreen img {
        width: 80%;
        margin-top: 30%;
    }
}

.hide-top {
    top: -3000px;
}

.fade-out {
    opacity: 0 !important;
}
.fade-in {
    opacity: 1 !important;
}
.img-move-up {
    margin-top: -100px !important;
}

.shrink-middle {
    padding: 0;
    top: 50%;
    left: 50%;
    width: 0px;
    height: 0px;
    opacity: 0 !important;
}
.page.expand-middle {
    top: 0;
    left: 0;
    margin: 0px;
    width: 100%;
    height: 100%;
    opacity: 1 !important;
}
.shrink-left {
    padding: 0 !important;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    opacity: 0 !important;
}
.page.expand-left {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1 !important;
}
/* loader */
.loader {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.5s;
    z-index: 20;
}
/*square loading*/
.square{
    width: 20px;
    height: 20px;
    border:1px  rgba(0,0,0,1) solid;
    margin: 36px auto;
    position: relative;
    -webkit-animation: fill_color 5s linear infinite;
       -moz-animation: fill_color 5s linear infinite;
            animation: fill_color 5s linear infinite;
}
.square:after{
    width: 4px;
    height: 4px;
    position: absolute;
    content: "";
    background-color: rgba(0,0,0,1);
    top: -8px;
    left: 0px;
    -webkit-animation: square_check 1s ease-in-out infinite;
       -moz-animation: square_check 1s ease-in-out infinite;
            animation: square_check 1s ease-in-out infinite;
}

@-webkit-keyframes square_check{
    25%{ left: 22px; top: -8px;}
    50%{ left: 22px; top: 22px;}
    75%{ left: -9px; top: 22px;}
    100%{ left: -9px; top: -7px;}
}
@-moz-keyframes square_check{
    25%{ left: 22px; top: -8px;}
    50%{ left: 22px; top: 22px;}
    75%{ left: -9px; top: 22px;}
    100%{ left: -9px; top: -7px;}
}
@keyframes square_check{
    25%{ left: 22px; top: -8px;}
    50%{ left: 22px; top: 22px;}
    75%{ left: -9px; top: 22px;}
    100%{ left: -9px; top: -7px;}
}
@-webkit-keyframes fill_color{
    0%{ box-shadow: inset 0px 0px 0px 0px rgba(0,0,0,0.1);}
    100%{ box-shadow: inset 0px -20px 0px 0px rgba(0,0,0,1);}
}
@-moz-keyframes fill_color{
    0%{ box-shadow: inset 0px 0px 0px 0px rgba(0,0,0,0.1);}
    100%{ box-shadow: inset 0px -20px 0px 0px rgba(0,0,0,1);}
}
@keyframes fill_color{
    0%{ box-shadow: inset 0px 0px 0px 0px rgba(0,0,0,0.1);}
    100%{ box-shadow: inset 0px -20px 0px 0px rgba(0,0,0,1);}
}


/*** responsiveee ***/

@media only screen and (max-width: 1366px) {
    .frame {
        max-height: 640px;
    }
}

.info-container {
    width: 260px;
    background-color: whitesmoke;
    border-bottom: 2px dotted tomato;
    position: fixed;
    right: 50px;
    top: -2px;
    z-index: 100;
    transition: all 1s;
}

#thumbnails_cont {
    overflow: hidden;
}
.work-thumbnail {
    width: 140px;
    height: 140px;
    float: left;
    margin: 5px 15px;
    border-radius: 3px;
    background: #333 url(../uploaded/file_150810103536.jpg) no-repeat center;
    position: relative;
    cursor: pointer;
}
.work-thumbnail:hover {
    box-shadow: 1px 1px 2px #333;
    width: 141px;
    height: 141px;
    margin-top: 4px;
    margin-left: 14px;
}
.work-thumbnail p {
    position: absolute;
    width: 100%;
    left: 5px;
    bottom: 5px;
    padding: 3px;
    font-size: 11px;
    border-left: 1px dotted tomato;
    background-color: white;
}

.column {
    display: block;
    box-sizing: border-box;
    overflow: hidden;
}

.column.column-20 {
    width: 20%;
}
.column.column-80 {
    width: 80%;
}
.column.column-left {
    float: left;
}
.column.column-right {
    float: right;
}